body{
	background-color: white;
	text-align: justify;
}

* {
  box-sizing: border-box;
}
.part1 {
  height: 100%;
  width: 219px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}

.part1 p {
  color: red;
}

.part1 button {
  background-color: pink;
  color: black;
}

.part2 {
  margin-left: 200px;
  padding-left: 20px;
}
