.blue_rounded{
	display: flex;
    flex-wrap: wrap;
}
#flex_first{
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;	
}

#flex_second{
	display: flex;
    flex-wrap: wrap;
	flex-direction: column;

}
#color, #email, #phone, #address, #name{
	width:100%;
}
label{
	display:block;
}

input{
	flex: 100%;
}

.form-row > button {
	background-color: white;
	display: block;
	min-width: 100%
}
